body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin:0px;

}

.container {
  /* width: 800px; */
  background: #1e293b;
  /* padding: 20px; */
  border-radius: 10px;


    /* width: 80%;          */
  width: 1200px;
  min-width: 300px;    /* Limits width on larger screens */
  margin:0 auto;       /* Centers the container horizontally */
  padding: 20px;  
}

h1 {
  text-align: center;
}

.task-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap ;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #22c55e;
  color: white;
}

.filters {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

li {
  background: #334155;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.user-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-bar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.logout-btn {
  background: red;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}
#dueDate {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.due-date {
  color: #facc15;
  font-size: 12px;
  margin-top: 4px;
}